:root {
    color-scheme: light dark;
    /* View Size */
    --width: 100%;
    /* --height: 384px; */
    /* Design Tokens */
    --color-accent: -apple-system-control-accent;
    --color-white: #ffffff;
    --color-grey-lightest: #f9f9f9;
    --color-grey-lighter: #ededed;
    --color-grey-light: #d4d4d4;
    --color-grey: #bfbfbf;
    --color-grey-dark: #707070;
    --color-grey-darker: #4c4c4c;
    --color-black: #000000;
    --color-primary: #fa6400;
    --color-primary-dark: #ffffff;
    --color-primary-light: #ffffff;
    --color-primary-lighter: #ffffff;
    --color-primary-lightest: #ffffff;
    --color-status-danger: #ff0000;
    --color-status-warning: #ff0000;
    --color-status-success: #ff0000;
    --color-trasparency-black-10: rgba(0, 0, 0, 0.1);
    --color-trasparency-black-24: rgba(0, 0, 0, 0.24);
    --color-trasparency-white-10: rgba(255, 255, 255, 0.1);
    --color-trasparency-white-24: rgba(255, 255, 255, 0.24);
    --color-gradient-primary: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0.2) 100%
    );
    --opacity-30: 0.3;
    --opacity-50: 0.5;
    --opacity-75: 0.75;
    --opacity-85: 0.85;
    /* Space */
    --space-xxx-small: 2px;
    --space-xx-small: 4px;
    --space-x-small: 8px;
    --space-small: 12px;
    --space-medium: 16px;
    --space-large: 20px;
    --space-x-large: 24px;
    --space-xx-large: 36px;
    --space-xxx-large: 48px;
    --space-xxxx-large: 72px;
    /* Sizes */
    --size-xx-small: 10px;
    --size-x-small: 16px;
    --size-small: 20px;
    --size-medium: 24px;
    --size-large: 30px;
    --size-x-large: 36px;
    --size-xx-large: 48px;
    --size-xxx-large: 72px;
    --size-layout-max-width: 100%;
    --size-header: var(--size-xxx-large);
    --size-footer: var(--size-xx-large);
    --border-width-default: 0.5px;
    --border-width-selected: 1px;
    /* Texts */
    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-size-small: 0.875rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.182rem;
    --font-size-xlarge: 1.636rem;
    --text-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    --text-font-body-size: 16px;
    --text-font-body-color: var(--color-black);
    --text-font-body-weight: 400;
    --text-font-h1-size: 1.182rem;
    --text-font-h1-weight: 600;
    --text-font-label-size: 1rem;
    --text-font-label-color: var(--color-grey-darker);
    --text-font-label-weight: 400;
    /* Border Radius */
    --border-radius-sharp: 0;
    --border-radius-xsmall: 4px;
    --border-radius-small: 8px;
    --border-radius-medium: 12px;
    --border-radius-large: 20px;
    --border-radius-xlarge: 24px;
    --border-radius-circle: 50%;
    /* Box Shadow */
    --shadow-none: 0;
    --shadow-small: 2px;
    --shadow-medium: 4px;
    --shadow-large: 7px;
    --shadow-blur-none: 0;
    --shadow-blur-xsmall: 1px;
    --shadow-blur-small: 10px;
    --shadow-blur-medium: 16px;
    --shadow-blur-large: 25px;
    --shadow-tooltip: ;
}

/* Force a light theme here */
@media screen and (prefers-color-scheme: light) {
    :root {
        --view-background-color: var(--color-white);
        --footer-background-color: var(--color-grey-lightest);
        --buttongroup-background-color: var(--color-grey-lighter);
        --buttongroup-box-shadow: var(--shadow-none) var(--shadow-none)
            var(--shadow-blur-xsmall) var(--color-primary-dark);
        --buttongroup-border: none;
        --buttongroup-color: var(--color-grey-darker);
        --buttongroup-background-image: none;
        --buttongroup-button-background-default: none;
        --buttongroup-button-background-active: var(--color-white);
        --buttongroup-button-color-active: inherit;
        --buttongroup-input-border: 0.5px solid transparent;
        --header-color: var(--color-grey-darker);
        --label-color: var(--color-grey-darker);
        --input-color: var(--color-grey-darker);
        --input-background-color: var(--color-white);
        --select-background-gradient: linear-gradient(
            to bottom,
            var(--color-white) 0%,
            var(--color-black) 100%
        );
        --placeholder-color: var(--color-grey);
        --input-color-disabled: var(--color-grey-light);
        --input-background-color-disabled: var(--color-grey-lighter);
        --select-border-color: var(--color-grey);
    }
}

/* Force a dark theme here */
@media screen and (prefers-color-scheme: dark) {
    :root {
        --view-background-color: inherit;
        --footer-background-color: var(--color-grey-darker);
        --buttongroup-background-color: var(--color-grey-darker);
        --buttongroup-box-shadow: none;
        --buttongroup-border: 0;
        --buttongroup-color: var(--color-grey-lightest);
        --buttongroup-background-image: var(--color-gradient-primary);
        --buttongroup-button-background-default: none;
        --buttongroup-button-background-active: var(--color-grey-light);
        --buttongroup-button-color-active: var(--color-grey-darker);
        --buttongroup-input-border: 0.5px solid transparent;
        --header-color: var(--color-grey-lightest);
        --label-color: var(--color-grey-lightest);
        --input-color: var(--color-grey-lightest);
        --input-background-color: var(--color-grey-darker);
        --select-background-gradient: linear-gradient(
            to bottom,
            var(--color-black) 0%,
            var(--color-white) 100%
        );
        --placeholder-color: var(--color-grey-dark);
        --input-color-disabled: var(--color-grey-dark);
        --input-background-color-disabled: var(--color-darker);
        --select-border-color: var(--color-grey-darker);
    }
}

/* some default styles to make the view more native like */

html {
    box-sizing: border-box;
    /* Prevent the page to be scrollable */
    overflow: hidden;
    /* Force the default cursor, even on text */
    cursor: default;
    font-size: 11px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    /* position: relative; */
    /* Prevent the content from being selectionable */
    -webkit-user-select: none;
    user-select: none;
}

body {
    width: var(--width);
    /* height: var(--height); */
    display: flex;
    flex-direction: column;
    font-family: var(--text-font-family);
    font-size: var(--text-font-body-size);
    color: var(--text-font-body-color);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

h1 {
    margin-top: 40px;
    font-size: 24px;
    font-weight: var(--font-weight-bold);
    color: var(--header-color);
    text-align: center;
    margin-bottom: 8px;
}

h1 + p {
    color: var(--header-color);
    font-size: var(--text-font-label-size);
}

h1 + div {
    margin-bottom: 32px;
    color: var(--label-color);
}

footer {
    width: var(--size-layout-max-width);
    height: 96px;
    padding-right: var(--space-large);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--footer-background-color);
    inset-inline-end: 0;
}

.view {
    width: 1024px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--view-background-color);
}

.view > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#header {
    flex-direction: column;
    margin-bottom: var(--space-large);
}

#step_1_div,
#step_4_div {
    cursor: pointer;
}

.view > div img {
    width: 170px;
    height: 272px;
    max-width: 170px;
    max-height: 272px;
}

[hidden],
.hidden {
    display: none;
}
